name: Tag It

on:
  pull_request:
    types: [opened, edited, synchronize, reopened]
  push:
    branches:
      - main

permissions:
  contents: write

jobs:
  tag-it:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0
      
      - name: Tag It
        uses: ./
        with:
          github-token: ${{ secrets.GITHUB_TOKEN }}
